/* Color 
#03fcc6    
#bff542       
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  max-width: 100rem;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

/* Nav Var */
header {
  max-width: 70rem;
  margin: 0 auto;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.75rem;
}

.a-tag {
  text-decoration: none;
  color: white;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav-ul-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  font-size: 1.5rem;
}

.resume-btn {
  font-size: 1.5rem;
  border: none;
}

.a-tag:hover,
.resume-btn:hover,
.fa-solid:hover {
  color: #03fcc6;
  transition-delay: 0.1s;
  cursor: pointer;
  border-bottom: 2px solid #03fcc6;
}

/* Nav var End */

/* Header Start */

.Hero-Section {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.hero-img {
  height: 27rem;
  width: 27rem;
  border-radius: 50%;
  align-items: center;
  box-shadow: 0 0 30px #03fcc6;
  transition: 0.3s ease-in-out;
}

.hero-img:hover {
  cursor: pointer;
  box-shadow: 0 0 90px #03fcc6;
}

.hero-text,
h3,
h4,
h1,
p,
ui,
list,
button {
  margin-top: 0.5rem;
  margin-bottom: 0.51rem;
}

.hero-text h3 {
  font-size: 1.55rem;
  color: #03fcc6;
}

.hero-text h1 {
  font-size: 2.25rem;
  color: #03fcc6;
}

.hero-text h4 {
  font-size: 1.25rem;
}

.hero-text p {
  font-size: 1rem;
  line-height: 2rem;
  color: #bff542;
}

.hero-social-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.h-tag {
  text-decoration: none;
  color: #03fcc6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #03fcc6;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.hero-icon {
  font-size: 1.75rem;
}

.h-tag:hover {
  cursor: pointer;
  color: white;
  background-color: #03fcc6;
  border: 2px solid #03fcc6;
  font-weight: bold;
  transition-delay: 0.1s;
  transition: 0.3s ease-in-out;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.h-btn {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #03fcc6;
  box-shadow: 0 0 25px #03fcc6;
  border-radius: 4rem;
  font-size: 1rem;
  color: black;
  border: 2px solid #03fcc6;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
}

.h-b-tag {
  box-shadow: none;
  border: 2px solid #03fcc6;
  background-color: black;
  color: #03fcc6;
}

.h-btn:hover {
  box-shadow: 0 0 50px #03fcc6;
  transform: scale(1);
}

.h-b-tag:hover {
  background-color: #03fcc6;
  color: black;
  transform: scale(1);
}

/* Header End */

/* Main Section Start */

/* Main Section End */

/* Footer Section Start */

footer {
  background-color: #131313;
}

.Footer-Section {
  margin-top: 5rem;
}

.copyright-issue,
.first-child,
.second-child,
.third-child {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.online-judge {
  margin-top: 2rem;
}

.online-judge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.C-img {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
}

.social-icon {
  display: flex;
  gap: 3.4rem;
}

.footer-ul {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4.5rem;
  margin-bottom: 1.25rem;
}

.f-tag {
  margin-bottom: 2rem;
  padding: 0rem;
}

.copyright-issue {
  margin-bottom: 2rem;
  color: #bff542;
}

/* Footer Section End */

/* Media Query */

/* Small Device Start*/
/* 576px value */
@media screen and (max-width: 576px) {
  /* Nav Var  Start*/
  nav {
    flex-direction: column;
    text-align: center;
  }

  .right-side,
  .nav-ul-list,
  .resume-btn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  /* Nav-Var End */

  /* Header Start */

  .Hero-Section {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .hero-container {
    flex-direction: column-reverse;
    padding: 3rem;
  }

  .hero-img {
    height: 15rem;
    width: 15rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-text h3 {
    font-size: 1.4rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h4 {
    font-size: 1.1rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-icon {
    font-size: 1.75rem;
  }

  /* Header End */

  /* Footer start */

  footer {
    padding: 2rem 4rem;
  }

  .online-judge {
    margin-top: 2rem;
  }

  .online-judge {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
  }

  .C-img {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
  }

  .social-icon {
    display: flex;
    gap: 2rem;
  }

  .footer-ul {
    font-size: 1.25rem;
    gap: 1rem;
  }

  .f-tag {
    margin-bottom: 2rem;
  }

  .copyright-issue {
    justify-content: start;
    align-items: start;
    font-size: 1rem;
    text-align: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0rem;
    margin: 0rem;
  }

  /* Footer Ended */
}
/* Small Device End*/

/* Medium Device Start */
/* 768px value */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Nav Var Start */
  nav {
    flex-direction: column;
    text-align: center;
  }

  .right-side,
  .nav-ul-list,
  .resume-btn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  /* Nav Var End */

  /* Header Start */

  .Hero-Section {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1.25rem;
  }

  .hero-img {
    height: 22rem;
    width: 22rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-text h3 {
    font-size: 1.4rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h4 {
    font-size: 1.1rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-icon {
    font-size: 1.75rem;
  }

  /* Header End */
}
/* Medium Device End */

/* Large Device Start */
/* 992px value */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Nav Var Start */
  nav {
    flex-direction: column;
    text-align: center;
  }

  .right-side,
  .nav-ul-list,
  .resume-btn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  /* Nav Var End */

  /* Header Start */

  .Hero-Section {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1.25rem;
  }

  .hero-img {
    height: 25rem;
    width: 25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Header End */
}
/* Large Device End */

/* Extra Large Start*/
/* 1200 Value */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Nav Var Start */
  nav {
    flex-direction: row;
    padding: 2.5rem;
  }

  .right-side,
  .nav-ul-list,
  .resume-btn {
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  /* Nav Var End */

  nav {
    flex-direction: column;
    text-align: center;
  }

  .right-side,
  .nav-ul-list,
  .resume-btn {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  /* Nav Var End */

  /* Header Start */

  .Hero-Section {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* Header End */
}
/* Extra Large End */

/* Extra Extra Large  */
/* 1400 Value */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* Nav Var Start */
  nav {
    flex-direction: row;
  }

  .right-side,
  .nav-ul-list,
  .resume-btn {
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  /* Nav Var End */

  /* Header Start */

  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* Header End */
}
/* Extra Extra Large End */
